{% include 'header.html' %}
<div class="img-rounded" style="height: 300px; width: 100%; background-color: #002143; background-image: url('/assets/{{ current_page.id }}.png'); background-position: center; margin-bottom: 2em; position: relative;">
  <div class="container">
    <div class="carousel-caption">
      <h1 style="margin-bottom: 30px; text-shadow: 0 0 4px black;">{{ meta.title }}</h1>
      <p style="text-shadow: 0 0 2px black;">{{ meta.description }}</p>
    </div>
  </div>
</div>

<div class="news-content">
  {{ content }}

	{% if not (images is empty) %}
	    <h2>Photos</h2>
	{% endif %}
	<div id="gallery">
	{% for image in images if not (image.name starts with 'thumb.') %}
		<a href="{{ image.url }}">
	    <img src="{{ base_url }}/{{ image.path }}/{{ image.meta.thumb }}" alt="{{ image.name }}"></img>
	    </a>
	{% endfor %}
	</div>

</div>


<script type="text/javascript">
lightGallery(document.getElementById('gallery'), {
    thumbnail:true,
    animateThumb: false
}); 
</script>



{% include 'footer.html' %}
