{% include 'header.html' %}
<div class="img-rounded" style="height: 300px; width: 100%; background-color: #002143; background-image: url({{ "/content/news/%s.png"|format(current_page.url|split("/")|last) }}); background-position: center; margin-bottom: 2em; position: relative;">
  <div class="container">
    <div class="carousel-caption">
      <h1 style="margin-bottom: 30px; text-shadow: 0 0 4px black;">{{ meta.title }}</h1>
      <p style="text-shadow: 0 0 2px black;">{{ meta.description }}</p>
    </div>
  </div>
</div>

<div class="news-content">
  {{ content }}
</div>

{% include 'footer.html' %}
