<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}
	<link rel="stylesheet" href="/main/style.css" type="text/css" />
	<link rel="stylesheet" href="/main/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/main/css/tumjudge.css" type="text/css" />
	<link rel="stylesheet" href="/main/css/menu.css" type="text/css" />
	<script type="text/javascript" src="/main/js/jquery.js"></script>
	<script type="text/javascript" src="/main/js/bootstrap.js"></script>
</head>
<body class="tumjudge-info">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown brand">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="tumjudge-instance tumjudge-info"><span class="pagetitle">ICPC@TUM</span> Info</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="pagetitle">ICPC@TUM</a></li>
            <li class="page tumjudge-info"><a href="http://icpc.tum.de">Info - Information about the ICPC</a></li>
            <li><a class="pagetitle">TUMjudge</a></li>
            <li class="page tumjudge-conpra"><a href="https://judge.in.tum.de/conpra/">ConPra - Algorithms for Programming Contests</a></li>
            <li class="page tumjudge-contest"><a href="https://judge.in.tum.de/contest/">Contest - Preparation for the ACM ICPC</a></li>
            <li class="page tumjudge-gad"><a href="https://judge.in.tum.de/gad/">GAD - Foundations: Algorithms and Data Structures</a></li>
            <li class="page tumjudge-isabelle"><a href="https://judge.in.tum.de/isabelle/">Isabelle - Proving Contests</a></li>
          </ul>
        </li>
        <li><a href="/"><span class="glyphicon glyphicon-home"></span> home</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <span class="glyphicon glyphicon-blackboard"></span> ICPC <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/icpc/general">General Information</a></li>
            <li><a href="/icpc/during">During the Contest</a></li>
            <li><a href="/icpc/participation">Participation</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <span class="glyphicon glyphicon-education"></span> preparation <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/preparation/material">Material</a></li>
            <li><a href="/preparation/tumjudge">TUMjudge</a></li>
            <li><a href="/preparation/courses">Courses</a></li>
            <li><a href="/preparation/links">Links</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <span class="glyphicon glyphicon-flag"></span> contests <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/contests">TUMjudge Contests</a></li>
            <li><a href="/history">ICPC History</a></li>
          </ul>
        </li>
        <li><a href="/contact"><span class="glyphicon glyphicon-envelope"></span> contact</a></li>
      </ul>          
    </div>
  </div>
</nav>

<div class="container">
