{% set numPages = 5 %}
{% set result = {} %}
{% set i = 0 %}
{% for page in pages %}
  {% if page.date and i < numPages %}
      {% set content = page.content|replace({'"':"'"}) %}
      {% set image_url = "/news/%s.png"|format(page.url|split("/")|last) %}
      {% set result = result|merge({(loop.index0) : {'title': page.title,'description':page.description,'content':content,'image_url': image_url,'timestamp':date(page.date).timestamp}}) %}
      {% set i = i+1 %}
  {% endif %}
{% endfor %}
{{ result|json_encode() }}