{% include 'header.html' %}
{% set numPages = 5 %}
<div id="carousel" class="carousel slide" data-ride="carousel" style="height: 300px; margin-bottom: 60px;">
  <ol class="carousel-indicators">
    {% set i = 0 %}
    {% for page in pages %}
      {% if page.date and i < numPages %}
        <li data-target="#carousel" data-slide-to="{{ i }}"{% if i == 0 %} class="active"{% endif %}></li>
        {% set i = i + 1 %}
      {% endif %}
    {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
    {% set i = 0 %}
    {% for page in pages %}
      {% if page.date and i < numPages %}
        <div class="item{% if i == 0 %} active{% endif %} img-rounded" style="height: 300px; width: 100%; background-color: #002143; background-image: url({{ "/content/news/%s.png"|format(page.url|split("/")|last) }}); background-position: center;">
          <div class="container">
            <div class="carousel-caption" style="z-index: 10;">
              <h1 style="margin-bottom: 30px; text-shadow: 0 0 4px black;">{{ page.title }}</h1>
              <p style="margin-bottom: 20px; text-shadow: 0 0 2px black;">{{ page.description }}</p>
              <p><a class="btn btn-default" href="{{ page.url }}" role="button">Read more &raquo;</a></p>
            </div>
          </div>
        </div>
        {% set i = i + 1 %}
      {% endif %}
    {% endfor %}
  </div>
  <a class="left carousel-control img-rounded" href="#carousel" role="button" data-slide="prev" style="color: #ffffff;">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control img-rounded" href="#carousel" role="button" data-slide="next" style="color: #ffffff;">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <div class="col-sm-4" style="text-align: center;"> 
    <div style="font-size: 100px; margin: 0 auto; padding-top: 20px; background-color: #002143; color: #ffffff; width: 150px; height: 150px;" class="img-circle">
      <span class="glyphicon glyphicon-blackboard"></span>    
    </div>
    <h2><b>I</b>nform</h2>
    <p style="text-align: center;">Inform yourself about programming contests in general and particularly the ACM-ICPC and the contests that we host.</p>
    <a class="btn btn-default" href="/icpc/general" role="button">View details &raquo;</a>
  </div>
  <div class="col-sm-4" style="text-align: center;">
    <div style="font-size: 100px; margin: 0 auto; padding-top: 20px; background-color: #002143; color: #ffffff; width: 150px; height: 150px;" class="img-circle">
      <span class="glyphicon glyphicon-education"></span>    
    </div>
    <h2><b>C</b>ompile</h2>
    <p style="text-align: center;">Solve some introducing problems of the &ldquo;Hello World!&rdquo; contest.</p>
    <a class="btn btn-default" href="https://judge.in.tum.de/contest" role="button">View details &raquo;</a>
  </div>
  <div class="col-sm-4" style="text-align: center;">
    <div style="font-size: 100px; margin: 0 auto; padding-top: 20px; background-color: #002143; color: #ffffff; width: 150px; height: 150px;" class="img-circle">
      <span class="glyphicon glyphicon-education"></span>    
    </div>
    <h2><b>P</b>repare</h2>
    <p style="text-align: center;">Prepare for programming contests by visiting our courses and lectures, solving the numerous exercise problems we provide.</p>
    <a class="btn btn-default" href="/preparation/material" role="button">View details &raquo;</a>
  </div>
  <div class="col-sm-4" style="text-align: center;">
    <div style="font-size: 100px; margin: 0 auto; padding-top: 20px; background-color: #002143; color: #ffffff; width: 150px; height: 150px;" class="img-circle">
      <span class="glyphicon glyphicon-flag"></span>    
    </div>
    <h2><b>C</b>ompete</h2>
    <p style="text-align: center;">Compete in the contests we hold at TUM, for example the GCPC, the Wintercontest, our preparation contests, and more.</p>
    <a class="btn btn-default" href="/contests" role="button">View details &raquo;</a>
  </div>
</div>

{{ content }}
{% include 'footer.html' %}
